@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/fondo-pokemon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .tittle {
    font-family: "Pokemon Solid", sans-serif;
    letter-spacing: 5px;
    font-size: 4.5rem;
    color: yellow;
    text-shadow: -3px -3px 0 #36569c, 3px -3px 0 #36569c, -3px 3px 0 #36569c,
      3px 3px 0 #36569c, 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .formPokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 10px;
    padding: 10px;
    .inputNombre {
      width: 100%;
      padding: 10px;
      background-color: white;
      border-radius: 20px;
      border: none;
      outline: none;
      text-align: center;
    }
    .btnButton {
      width: 50%;
      padding: 10px;
      border-radius: 20px;
      outline: none;
      border: none;
      background-color: black;
      font-weight: bold;
      color: white;
      transition: all 0.35s ease-in-out;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .resultado {
    width: 500px;
    min-height: 230px;
    border-radius: 20px;
    background-color: white;

    display: none;
    justify-content: space-around;
    align-items: center;
    .informacion {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
      p {
        font-weight: bold;
      }
      #nombrePokemonSpan {
        text-transform: capitalize;
        font-weight: 300;
      }
      #habilidadPokemonSpan {
        text-transform: capitalize;
        font-weight: 300;
      }
      #tipoPokemonSpan {
        text-transform: capitalize;
        font-weight: 300;
      }
    }
    .imagenes {
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../assets/pokebola.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .imagenPokemon {
        width: 100px;
        transition: all 0.5s ease-in-out;
        opacity: 0;
      }
      .animacion {
        transform: scale(1.5);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 600px) {
  .resultado {
    max-width: 90%;
    height: auto;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    padding: 10px;
    gap: 20px;
    overflow: hidden;

    .informacion {
      gap: 10px;
      margin-bottom: 20px;
    }

    .imagenes {
      .imagenPokemon {
        width: 80px;
      }
    }
  }
}